
/* About me */
.btn-resume {
    
}
#aboutUs {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#aboutUs img {
    width: 400px;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid white;
}

.content {
    margin: 20px 0;
}

.content h2 {
    font-size: 50px;
    color: #ffca70;
}

.content h4 {
    font-size: 20px;
    color: #fff;
    margin: 10px 0;
}

.description {
    color: #fff;
    margin: 20px 0;
    font-size: 18px;
    line-height: 30px;
    font-weight: 100;
}

.btnn {
   
    padding: 12px;
    width: 100%;
    background: rgb(16, 16, 62);
    color: aliceblue;
    border: 2px solid rgb(50, 29, 167);
    border-radius: 6px;
    font-size: 15px;
    margin: 5px;
}

.btnn:hover {
    border: 2px solid rgb(16, 16, 62);
    background: transparent;
    color: white;
}

@media screen and (max-width: 790px) {
    #aboutUs img {
        width: 80%;
    }

    #aboutUs {
        grid-template-columns: 1fr;
        place-items: center;
    }
}


/* new */
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
	font-family: 'Poppins', sans-serif;
}
.timeline-section{
	/* background-color: #24292d; */
	min-height: 100vh;
	padding: 100px 15px;
}
.timeline-items{
	max-width: 1000px;
	margin:auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.timeline-items::before{
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	background-color: #2f363e;
	left: calc(50% - 1px);
}
.timeline-item{
	margin-bottom: 40px;
	width: 100%;
	position: relative;
}
.timeline-item:last-child{
	margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
	text-align: right;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.timeline-dot{
	height: 16px;
	width: 16px;
	/* background-color: #eaa023; */
	position: absolute;
	left: calc(50% - 8px);
	border-radius: 50%;
	top:10px;
}
.timeline-date{
	font-size: 18px;
	color: #eaa023;
	margin:6px 0 15px;
}
.timeline-content{
    background-color: #2f363e;
	padding: 30px;
	border-radius: 5px;
}
.timeline-content h3{
    font-size: 20px;
	color: #ffffff;
	margin:0 0 10px;
	text-transform: capitalize;
	font-weight: 500;
}
.timeline-content p{
    color: #c8c8c8;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
}

/* responsive */
@media(max-width: 767px){
	.timeline-items::before{
		left: 7px;
	}
	.timeline-item:nth-child(odd){
		padding-right: 0;
		text-align: left;
	}
	.timeline-item:nth-child(odd),
	.timeline-item:nth-child(even){
		padding-left: 37px;
	}
	.timeline-dot{
		left:0;
	}
}




.secondSection {
    width: 95%;
  
    display: block;
    margin:auto;
}


.secondSection h1 {
    font-size: 1.5rem;
    margin: auto;
}

.text-grey {
    color: gray;
}

.secondSection .box {
    background: white;
    width: 78vw;
    height: 2px;
    margin: 56px 0px;
    display: flex;
}

.secondSection .vertical {
    height: 93px;
    width: 1px;
    background: white;
    margin: 0 120px;
}

.vertical-title {
    position: relative;
    top: 58px;
    width: 250px;
    font-size: 15px;
}

.vertical-desc {
    position: relative;
    top: 78px;
    color: rgb(254, 254, 254);
    width: 190px;
    font-size: 9px;
    background: rgb(2, 9, 46);

}

.verticaltitle-name p {
    width: 300px;
    font-size: 15px;
    position: relative;
    top: 80px;
}

.image-top {
    width: 40px;
    position: relative;
    top: -45px;
    left: -9px;
}

#Address {
    display: none;
}


.btn-outline-info {
    margin: 10px;
}

@media screen and (min-width:221px) and (max-width:768px) {

    .secondSection {
        margin: 75px auto;
    }

    .secondSection .box {
        background: white;
        padding: 0px 30px;
        border-left: 2px solid #bababb;
        display: grid;
        grid-column-gap: 20px;
        width: 60%;

    }
    .secondSection .vertical {
        height: 100%;
        background: white;
        margin: 0px 120px;
        margin-left: 20px;

    }

    .vertical-title {
        position: relative;
        top: 5px;
        width: 250px;
        font-size: 15px;
        left: 20px;
    }

    .vertical-desc {
        position: relative;
        top: 20px;
        color: rgb(254, 254, 254);
        width: 190px;
        font-size: 9px;
        left: 20px;
        background: rgb(2, 9, 46);

    }

    .verticaltitle-name p {
        width: 300px;
        font-size: 15px;
        position: relative;
        top: 10px;
        left: 20px;

    }

    .image-top {
        width: 40px;
        position: relative;
        top: 40px;
        left: -50px;
    }
}
