/* SERVICES */
.section-service {
    /* background: rgb(213, 214, 221);  */

}

.title h1 {
    text-align: center;
    /* padding-top: 58%; reponsive  */
    /* padding-top: 50px; */
    font-size: 42px;

    color: white;

}

.title h1::after {
    content: "";
    height: 4px;
    width: 230px;
    color: #0e3959;
    background-color: #abb1b7;
    display: block;
    margin: auto;
}

.services {
    width: 85%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 75px auto;
    text-align: center;
}

/* .image-service {
    width: 190px;

}

.image-ui {
    width: 300px;
    margin: 30px;
}

.image-web {
    width: 200px;
    margin: 20px;
} */

.card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0px 20px;
    padding: 20px 20px;
    background-color: rgb(0, 0, 33);
    border-radius: 10px;
    cursor: pointer;
    /* margin-bottom: 20px; */
    background: rgb(252, 252, 254);

}

.card:hover {
    transition: 0.10s ease;
    box-shadow: rgba(24, 24, 214, 0.865) 0px 50px 100px -20px, rgba(35, 21, 234, 0.947) 0px 30px 60px -30px, rgba(12, 44, 253, 0.902) 0px -2px 6px 0px inset;
    color: #fff;

}

.card .icons {
    font-size: 35px;
    margin-bottom: 10px;
}

.card h2 {
    font-size: 28px;
    color: rgb(10, 1, 24);
    margin-bottom: 20px;
    width: 110%;
    font-weight: bold;
}

.card p {
    font-size: 17px;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color: #1212a0;

}

.card .button {
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    padding: 8px 12px;
    border-radius: 5px;
    letter-spacing: 1px;
    background: purple;
}

.card .button:hover {
    border: 2px solid black;
    transition: 0.11s ease;
}



@media screen and (max-width:940px) {

    .services {
        display: flex;
        flex-direction: column;
    }

    .card {
        width: 85%;
        display: flex;
        margin: 20px 0px;
    }

    .card:hover {
        transition: 0.10s ease;
        box-shadow: rgba(24, 24, 214, 0.865) 0px 50px 100px -20px, rgba(35, 21, 234, 0.947) 0px 30px 60px -30px, rgba(12, 44, 253, 0.902) 0px -2px 6px 0px inset;
        color: #fff;

    }
}